@font-face {
    font-family: 'DM Sans';
    src: url('assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'DM Sans';
    src: url('assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
    font-style: italic;
}


.bg-purple-100 {
    background-color: hsl(254, 88%, 90%);
}


.bg-purple-500 {
    background-color: hsl(256, 67%, 59%);
}


.bg-yellow-100 {
    background-color: hsl(31, 66%, 93%);
}

.bg-yellow-500 {
    background-color: hsl(39, 100%, 71%);
}

.text-purple-100 {
    color: hsl(254, 88%, 90%);
}


.text-purple-500 {
    color: hsl(256, 67%, 59%);
}


.text-yellow-100 {
    color: hsl(31, 66%, 93%);
}

.text-yellow-500 {
    color: hsl(39, 100%, 71%);
}


#social-image {
    width: 50%;
}

#grid-container {
    max-width: 950px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
